# dependencies
/.next
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# IDEs and editors
/.idea
/.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*